<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="backend/fragments/head :: head(~{::title}, ~{::link})">
    <title>Manufacturer - Deine Verbindung mit Onlinehändlern im World Wide Web</title>

    <!-- MDBootstrap Cards Extended Pro  -->
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" >

</head>
<body class="fixed-sn mdb-skin">
<!-- Menü -->
<header th:replace="backend/fragments/header :: menu"></header>

<!-- Seiteninhalt -->
<main style="margin: 0;">
    <div class="container-fluid mt-5">

        <div class="row mb-3">
            <div class="col-12 ">
                <h1 class="h1 h1-responsive">
                    <span class="align-middle">Verwalte deine Produkte</span>
                </h1>
            </div>
        </div>


        <div class="row mb-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 d-flex d-inline-flex">
                        <h3 class="h3">
                            <span class="align-middle">Alle Produkte</span>
                            <a href="" class="btn btn-floating btn-primary" data-toggle="tooltip" title="Neues Produkt erstellen" ><i class="fas fa-plus"></i></a>
                            <a href="" class="btn btn-floating btn-success ml-1" data-toggle="tooltip" title="Produktliste hochladen" ><i class="fas fa-upload"></i></a>
                        </h3>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <table id="productTable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Produktnummer</th>
                                <th>Preis</th>
                                <th>Erscheinungsdatum</th>
                                <th style="width: 80px;">Aktion</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${products}">
                                <td>[[ ${product.getName()} ]]</td>
                                <td>[[ ${product.getProductNumber()} ]]</td>
                                <td>[[ ${product.getPrice()} ]]</td>
                                <td>[[ ${product.getPublicationDate()} ]]</td>
                                <td>
                                    <a href="" class="badge badge-primary" data-toggle="tooltip" title="Produkt bearbeiten"><i class="fas fa-pencil-alt" style="font-size: 1.0rem;"></i></a>
                                    <a href="#" class="badge badge-danger ml-2" data-toggle="tooltip" title="Produkt löschen"><i class="fas fa-trash-alt" style="font-size: 1.0rem;"></i></a>
                                    <a href="#" class="badge badge-success ml-2" data-toggle="tooltip" title="Produkt kopieren"><i class="fas fa-copy" style="font-size: 1.0rem;"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 d-flex d-inline-flex">
                        <h3 class="h3 h3-responsive">
                            <span class="align-middle">Produktgrupppen zum Freigeben</span>
                            <a href="" class="btn btn-floating btn-primary" data-toggle="tooltip" title="Neues Produkt erstellen" ><i class="fas fa-plus"></i></a>
                        </h3>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <table id="productGroupTable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Anzahl an Produkten</th>
                                <th>Händlerfreigabe erteilt</th>
                                <th>Freigabe für Händler</th>
                                <th style="width: 80px;">Aktion</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="productgroup : ${productgroups}">
                                <td>[[${productgroup.name}]]</td>
                                <td>[[${#lists.size(productgroup.products)}]]</td>
                                <td>[[${productgroup.released}]]</td>
                                <td><span th:text="${productgroup.retailerList}? 'Noch nicht zugewiesen.':${productgroup.retailerList[0].name}"></span></td>
                                <td>
                                    <a href="" class="badge badge-primary" data-toggle="tooltip" title="Produkt bearbeiten"><i class="fas fa-pencil-alt" style="font-size: 1.0rem;"></i></a>
                                    <a href="#" class="badge badge-danger ml-2" data-toggle="tooltip" title="Produkt löschen"><i class="fas fa-trash-alt" style="font-size: 1.0rem;"></i></a>
                                    <a href="#" class="badge badge-success ml-2" data-toggle="tooltip" title="Produkt kopieren"><i class="fas fa-copy" style="font-size: 1.0rem;"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>








    </div>
</main>

<!-- Footer und Scripte etc.. -->
<footer th:replace="backend/fragments/footer :: footer(~{::script})">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" ></script>

    <script type="text/javascript">

        $(document).ready( function () {
            $('#productTable').DataTable();

            $('#productGroupTable').DataTable();

            // Tooltips Initialization
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        });

    </script>

</footer>
</body>
</html>